/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/pattern-background-mobile.svg);
    background-color: #E0E8FF;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

.card {
    width: 327px;
    height: 567px;
    border-radius: 20px;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.1518);
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.illustration-hero {
    width: 327px;
    border-radius: 20px 20px 0 0;

}

.card-copy {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 416px;
    padding: 32px;
}

h1 {
    font-size: 22px;
    color: #1F2E55;
    font-weight: 900;
}

p {
    line-height: 25px;
    color: #717FA6;
}

.plan-border {
    height: 81px;
    background-color: #F7F9FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 279px;
    border-radius: 11px;
}

.plan-container {
    height: 48px;
    width: 246px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon-music {
    width: 48px;
    padding-right: 15px;
    
}

.plan {
    font-size: 14px;
    text-align: left;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-name {
    font-weight: 900;
    line-height: 19px;
    height: 19px;
}

.plan-detail {
    height: 19px;
    color: rgba(113, 127, 166, 1);
}

.change {
    color: rgba(56, 42, 225, 1);
    font-size: 13px;
    font-weight: 700;
    flex: 2;
    text-align: right;
}

.change:visited {
    color: rgba(56, 42, 225, 1);
}

.change:hover {
    color: rgba(118, 108, 241, 1);

}

button {
    height: 50px;
    width: 279px;
    border-radius: 11px;
    border: none;
    background-color: #382AE1;
    color: white;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0 20px 20px rgba(56, 42, 225, 0.1903);
}

button:hover {
    background-color: #766CF1;
}

.cancel {
    height: 20px;
    font-size: 15px;
    font-weight: 900;
    color: rgba(113, 127, 166, 1);
    text-decoration: none;
}

.cancel:hover {
    color: rgba(31, 46, 85, 1);

}

.attribution {
    display: none;
}

@media screen and (min-width: 800px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
    }

    .card {
        width: 450px;
        height: 697px;

    }

    .illustration-hero {
        width: 450px;
        border-radius: 20px 20px 0 0;
    
    }

    .card-copy {
        padding: 48px;
    }

    h1 {
        font-size: 28px;
        height: 37px;
    }

    p {
        font-size: 16px;
    }

    .plan-border {
        height: 98px;
        width: 354px;
    }

    .plan-container {
        width: 306px;
    }

    .icon-music {
        width: 48px;
        padding-right: 20px;
        
    }

    .plan {
        font-size: 16px;
        height: 48px;
    }

    .plan-name {
        line-height: 21px;
        height: 21px;
    }
    
    .plan-detail {
        height: 21px;
    }

    .change {
        font-size: 14px;
    }

    button {
        width: 354px;
    }
}